<!DOCTYPE html>
{% load static %}
<html lang="ja" dir="ltr">

<head>
<meta charset="utf-8">
<title></title>
<link rel="stylesheet" href='{% static "css/register.css" %}'/>
</head>

<body>
  <section class="account">
    <div class="content">
<h1 class="title">アカウント作成</h1>

 {% if AccountCreate %}
   <h1>登録完了!</h1>

 {% else %}

   <table class="reg_form">
   <form enctype="multipart/form-data" method="post">
   {% csrf_token %}
   {{ account_form.as_table }}
   {{ add_account_form.as_table }}
  </table>
   <div class="btn">
    <input class="btn-new" type="submit" name="" value="新規作成">
  </form>

  </div>
  <a href="{% url 'Login' %}">ログイン画面</a>
   </div>
 {% endif %}
</div>

</section>
</body>
</html>